<!DOCTYPE html>
<html>
	<head>
		<title>Lunar Knights Software</title>
		<link rel="stylesheet" href="https://latex.now.sh/style.css" />
		<style type="text/css">
			.lklink {
				color: inherit;
				text-decoration: inherit;
			}
			.lklink:visited {
				color: inherit;
			}
			.lklink:hover {
				color: #444;
			}

			.date {
				float: right;
				font-size: 75%;
			}
		</style>
	</head>

	<body>
		<div>
			<h1>
				Meeting Notes <br />
				<span style="font-size: 50%"
					>Lunar Knights Control Systems</span
				>
			</h1>
		</div>
	</body>
</html>
